<div id="settings_plugin_softwareupdate_dialog" data-bind="allowBindings: true">
    <h3>Current versions</h3>
    <ul data-bind="foreach: versions.paginatedItems()">
        <li>
            <span data-bind="text: displayName"></span>: <span data-bind="text: displayVersion"></span> <span data-bind="visible: updateAvailable">{{ _('(update available)') }}</span><br>
            <small class="muted">
                Local: <span data-bind="text: information.local.name"></span><br>
                Remote: <span data-bind="text: information.remote.name"></span>
            </small>
        </li>
    </ul>

    <h3>Manual check</h3>
    <button class="btn btn-block" data-bind="click: function() { $root.performCheck(true, false); }">{{ _('Check for update now') }}</button>

    <h3>Force check for update or update</h3>
    <button class="btn btn-block" data-bind="click: function() { $root.performCheck(true, true); }">{{ _('Force check for update (overrides cache used for update checks)') }}</button>
    <button class="btn btn-block btn-danger" data-bind="click: function() { $root.update(true); }">{{ _('Force update now (even if no new versions are available)') }}</button>
</div>