<div id="settings_plugin_softwareupdate_dialog" data-bind="allowBindings: true">
    <button class="btn btn-block" data-bind="click: function() { $root.performCheck(true); }">{{ _('Force check for update') }}</button>
    <button class="btn btn-block" data-bind="click: $root.performUpdate">{{ _('Force update') }}</button>
</div>